html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        
        background: #eee;
        overflow: hidden;

        .container {
            width: inherit;
            height: inherit;
        }
    }
}